@{
    ViewData["Title"] = "Home Page";
}

<p class="alert alert-danger"> Du lieu nhan tu ViewBag : @ViewBag.message1</p>
<p class="alert alert-info">Du lieu nhan tu ViewData: @ViewData["message2"]</p>
<p class="alert alert-primary">Du lieu nhan tu TempData : @TempData["message3"]</p>
