@{
    ViewData["Title"] = "Home Page";
}

<!--The tao lien ket-->
<a href="/Home/Pvivacy" class="btn btn-success">Submit</a>
<!--Su dung Html helper -->
@Html.ActionLink("Submit","Privacy","Home", null, new{ @class = "btn btn success"})