@model List<List_Student.Models.Student>
@{
    ViewData["Title"] = "Index";
}
<h1>Danh sách sinh viên</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Mã sinh viên</th>
            <th>Họ tên</th>
            <th>Địa chỉ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaSv</td>
                <td>@item.HoTen</td>
                <td>@item.DiaChi</td>
            </tr>
        }
    </tbody>

</table>
<a href="/Student/Add" class="btn btn-primary"> them moi </a>


